
footer .wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footerDesc {
  height: 70%;

  h4 {
    line-height: 7rem;
    z-index: 10;
  }
}

.footerContact {
  align-items: flex-start;
  position: relative;
  justify-content: flex-start;
  width: 100%;
  height: 23%;

  h3 {
  font-family: "Gilroy ExtraBold", system-ui, sans-serif;
  font-weight: normal;
  font-size: 5rem;
  color: $split-color;
  }

  ul {
    padding: 12px 0 0 100px;
    display: flex;
    flex-direction: column;;

    li {
      font-size: 1.6rem;
      padding-bottom: 25px;

      a {
        color: white;
      }

      a:hover {
        color: $split-color;
        transition: all .4s ease;
      }
    }
  }
}

.footerContact:before {
  content: "";
    display: block;
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 2.3px;
    background-color: $split-color;
}
