/* GLOBAL STYLES */
html {
  font-size: 62.5%;
  color: $black-color;
}

p,
ul,
li,
h1,
h2,
h3,
h4,
h5 {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 6.5rem;
  font-weight: normal;
  color: $black-color;
  text-transform: uppercase;
}

h4 {
  color: white;
  font-family: "Gilroy ExtraBold", system-ui, sans-serif;
  font-weight: normal;
  font-size: 4.5rem;
}

// Scroll bar mods // 
body::-webkit-scrollbar {
  width: .7rem;
  &:hover {
    width: 1rem;
    
  }
}
body::-webkit-scrollbar-track {
  background: white;
  background: $black-color;
}
body::-webkit-scrollbar-thumb {
  background: $split-color;
  // border-radius: 20px;
  border-radius: 10px;
}

.wrapper {
  width: 72vw;
  // max-width: 1200px;
  margin: 0 auto;
  position: relative;

  @media (max-width: 1200px) {
    width: 80vw;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.mainBackground {
  height: 100vh;
  position: relative;
  color: white;
  background: #c4c2d8;
  background: -moz-linear-gradient(
    328deg,
    #17123c 20%,
    #31456d 45%,
    #17123c 70%,
    #421739 95%
  );
  background: -webkit-linear-gradient(
    328deg,
    #17123c 20%,
    #31456d,
    #17123c 75%,
    #421739
  );
  background: -webkit-linear-gradient(
    122deg,
    #31456d 10%,
    #17123c 50%,
    #421739 95%
  );

  background: -o-linear-gradient(122deg, #421739 5%, #17123c 50%, #31456d 95%);
  background: linear-gradient(328deg, #421739 5%, #17123c 50%, #31456d 95%);
  background-size: 400% 400%;
  animation: Gradient 8s ease infinite;
}

.background_shade {
  background-color: rgba(0, 0, 0, 0.13);
  height: 100%;
  width: 50vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
