#rellaxHold {
  position: absolute;
  height: 10%;
  display: flex;
  z-index: 1;
  left: -5%;
  top: 14%;
}

#rellaxHoldTwo {
  position: absolute;
  height: 10%;
  display: flex;
  z-index: 1;
  top: 81.5%;
  right: 48%;
}

#rellaxHoldThree {
  position: absolute;
  height: 9%;
  display: flex;
  z-index: 1;
  bottom: -46%;
  left: -5%;
}

// #rellaxHoldThree {
//   position: absolute;
//   height: 10%;
//   display: flex;
//   z-index: 1;
//   bottom: -48%;
//   right: 13%;
// }

.aboutMeContainer {
  height: 100%;
  min-height: 775px;

  h3 {
    font-family: "Gilroy ExtraBold", system-ui, sans-serif;
    text-transform: none;
    font-size: 3.2rem;
  }
}

.aboutMe {
  width: 100%;

  .aboutMeContent {
    width: 500px;
    padding: 8rem 0 0 7.1rem;

    @media (max-width: 1050px) {
      padding: 0 0 3rem 1rem;
    }

    @media (max-width: 750px) {
      width: 100%;
      padding: 0 0 3rem 1.3rem;
    }

    h1 {
      height: 90px;
      line-height: 90px;
      font-family: "Anton", sans-serif;
      font-size: 8.4rem;
      color: $split-color;
      text-transform: uppercase;
      letter-spacing: 0.4rem;
      font-weight: normal;

      @media (max-width: 750px) {
        font-size: 5.8rem;
        letter-spacing: 0.2rem;
      }
    }

    h2 {
      margin: 0.4rem 0;
      height: 50px;
      line-height: 50px;
      font-family: "Anton", sans-serif;
      font-size: 5rem;
      color: $white-color;
      letter-spacing: 0.1rem;

      @media (max-width: 750px) {
        height: 40px;
        line-height: 40px;
        font-size: 4rem;
      }
    }

    .paraContent {
      margin-top: 1.5rem;
    }

    .aboutButtonHold {
      margin-top: 2.4rem;

      .aboutButton {
        font-size: 1.4rem;
        padding: 0.4rem;
        background-color: $split-color;
        border: 2px solid $split-color;
        color: #fff;
      }

      :hover {
        color: $black-color;
        transition: all 0.6s ease;
      }
    }
  }
}

.greyBackgroundSquare {
  position: absolute;
  display: block;
  object-fit: contain;
  width: 40%;
  right: -8%;

  @media (max-width: 1200px) {
    display: none;
  }
}

.greyBackgroundSquareTwo {
  position: absolute;
  display: block;
  object-fit: contain;
  width: 40%;
  left: -7%;

  @media (max-width: 1200px) {
    display: none;
  }
}

.rellaxImg {
  display: block;
  object-fit: contain;
  height: 100%;

  @media (max-width: 1250px) {
    display: none;
  }
}

// side sticky menu //
.mainNav {
  position: sticky;
  top: 35%;
  left: 0px;
  padding: 10px 0 0 20px;
  width: 5%;
  z-index: 1000;

  .mainMenu {
    .mainItem {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      height: 50px;

      .mainLink {
        font-family: "Anton", sans-serif;
        color: $black-color;
        // font-weight: 500;
        font-size: 2rem;
        z-index: 1000;
        position: relative;
      }

      .mainLink:hover {
        color: $split-color;
        transition: all 0.6s ease;
      }
    }
  }

  @media (max-width: 1400px) {
    display: none;
  }
}

.mainContent {
  position: relative;
  background: $white-color;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 49.7%;
  bottom: 7%;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  z-index: 10;
  margin-left: -20px;
  bottom: 32%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px $white-color;
  border-radius: 25px;

  @media (max-width: 1100px) {
    width: 25px;
    height: 42px;
  }

  @media (max-width: 800px) {
    display: none;
  }
}

.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: $white-color;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;

  @media (max-width: 1100px) {
    width: 4px;
    height: 4px;
    margin-left: -1.9px;
    top: 2px;
  }
}

.popText {
  display: inline-block;
}

.skillsAnimate {
  display: inline;
}

.animate__animated.animate__headShake {
  --animate-duration: 6s;
}

#lastProject {
  margin-bottom: 50px;

  @media (max-width: 1400px) {
    margin-bottom: 50px;
  }

  @media (max-width: 1000px) {
    margin-bottom: 0;
  }
}

.project {
  height: 55vh;
  text-align: end;
  min-height: 425px;

  h4 {
    font-family: "Anton", sans-serif;
    font-size: 42rem;
    color: #ebebeb;
  }

  @media (max-width: 1100px) {
    height: 65vh;
    flex-direction: column-reverse;
  }
}

.projectReverse {
  text-align: start;

  @media (max-width: 1100px) {
    flex-direction: column;
  }
}

.projectDesc {
  max-width: 450px;
  padding: 10px 10px;
  margin-bottom: 25px;
  z-index: 10;

  p {
    margin: 10px 0 15px 0;
  }

  li {
    display: inline;
  }

  a {
    font-size: 1.9rem;
    font-weight: 500;
    color: $black-color;
    padding: 4px 9px 4px 9px;
  }

  a:hover {
    color: $white-color;
    transition: all 0.6s ease;
  }

  .accent {
    color: $split-color;
  }

  @media (max-width: 1100px) {
    min-width: 355px;
    text-align: center;
  }
}

.resumeContainer {
  border: 2px solid $split-color;
  position: relative;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;

  @media (max-width: 520px) {
    width: 150px;
    height: 40px;
    padding-top: 15px;
    font-size: 1.6rem;
  }
}

.resumeButton {
  position: relative;
  z-index: 10;
}

.resumeContainer:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: $white-color;
  background: $split-color;
  border-bottom: 2px solid $split-color;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
}

.resumeContainer:hover {
  color: #fff;
}

.resumeContainer:hover:after {
  width: 100%;
}

.buttonHold {
  padding-right: 1px;
  margin-top: 25px;
}

#projectButton {
  margin-left: 20px;
  background-color: #443b8c;
  border: 2px solid #443b8c;
  color: #fff;

  :hover {
    color: $split-color;
    transition: all 0.6s ease;
  }
}

.projectImg {
  z-index: 1000;
  max-width: 100%;
  box-shadow: -5px 30px 30px #d3d3d3;

  @media (max-width: 1100px) {
    box-shadow: none;
  }
}

.imageHold {
  position: relative;
  max-width: 525px;
  z-index: 10;
  margin-left: 100px;
  box-shadow: 2px 30px 30px #b2b2b8;

  @media (max-width: 1100px) {
    max-width: 500px;
    margin-left: 0px;
    box-shadow: none;
  }

  @media (max-width: 800px) {
    max-width: 400px;
  }
}

.imageHoldTwo {
  position: relative;
  max-width: 525px;
  z-index: 10;
  margin-right: 100px;
  box-shadow: 2px 30px 30px #b2b2b8;

  @media (max-width: 1100px) {
    max-width: 500px;
    margin-right: 0px;
    box-shadow: none;
  }

  @media (max-width: 800px) {
    max-width: 400px;
  }
}

.contactSection {
  width: 60%;
  height: 100%;
  z-index: 10;

  @media (max-width: 800px) {
    width: 80%;
  }
}

form {
  width: 100%;
}

.formList {
  list-style: none;
  padding: 0;
}
.formList li {
  margin: 10px 0 10px 0;
  display: flex;
  align-items: flex-end;
}

.formList li:nth-child(4) {
  margin-top: 50px;
}

.formList li label {
  color: offWhite;
  font-size: 1.8rem;
  margin-right: 7px;
}

.formList input[name="contact"] {
  background: none;
  border: none;
  outline: none;
  padding: 10px 5px;
  transition: all 0.3s ease-in;
  width: 100%;
  font-size: 1.6rem;
  letter-spacing: 1.4px;
  color: white;
  border-bottom: 1px solid white;
}

.formList textarea {
  background: none;
  outline: none;
  padding: 10px 5px;
  transition: all 0.3s ease-in;
  width: 100%;
  height: 95px;
  resize: none;
  border: 1px solid white;
  color: white;
  font-size: 1.6rem;
  letter-spacing: 1.4px;
}
.formList input[name="contact"]:focus,
.formList textarea:focus {
  outline: 1px solid pink;
  background: lighten($split-color, 10);
  border: none;
}

.formList input[type="submit"] {
  color: $split-color;
  background: none;
  outline: none;
  border: none;
  margin: 0 auto;
  font-size: 2rem;
  text-transform: uppercase;
  border: 1px solid white;
  padding: 10px 70px;
  margin-top: 40px;
  font-weight: bold;
}

.formList input:hover {
  height: 100%;
  color: $white-color;
  background: $split-color;
  border: 1px solid black;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
}
