// === Variables for split text ===== //
%font-settings {
  font-family: "Gilroy ExtraBold", system-ui, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}

// === Global variables ===== //
$perspective: 60rem;
$font-size: 4.25rem;
$split-position: 49%;
$split-thickness: 4px;
$split-color: #ff2c75;
$black-color: black;
$white-color: white;
