article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201c \201d \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Gilroy ExtraBold", system-ui, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}

/* GLOBAL STYLES */
html {
  font-size: 62.5%;
  color: black;
}

ul,
li,
h1,
h2,
h3,
h4,
h5 {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  color: black;
}

h4 {
  color: white;
  font-family: "Gilroy ExtraBold", system-ui, sans-serif;
  font-weight: normal;
  font-size: 4.5rem;
}

body::-webkit-scrollbar {
  width: .7rem;
}

body::-webkit-scrollbar:hover {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: white;
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: #ff2c75;
  border-radius: 10px;
}

.wrapper {
  width: 72vw;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 90vw;
  }
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainBackground {
  height: 100vh;
  position: relative;
  color: white;
  background: #c4c2d8;
  background: linear-gradient(328deg, #421739 5%, #17123c 50%, #31456d 95%);
  background-size: 400% 400%;
  -webkit-animation: Gradient 8s ease infinite;
  animation: Gradient 8s ease infinite;
}

.background_shade {
  background-color: rgba(0, 0, 0, 0.13);
  height: 100%;
  width: 50vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

header {
  height: 100vh;
  position: relative;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* position: relative; */
}

header title {
  z-index: 1000;
}

header li {
  font-size: 16rem;
}

header li .github:hover {
  color: grey;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

header li .linked:hover {
  color: #0c62a6;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

header li .twitter:hover {
  color: #0c62a6;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

header li .medium:hover {
  color: grey;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.logo-box {
  max-width: 700px;
  min-width: 280px;
  z-index: 100;
}

.fabicon-bar {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 33vh;
  z-index: 100;
  width: 400px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  padding-bottom: 45px;
  margin: 0 auto;
}

.fabicon-bar li {
  font-size: 25px;
  font-size: 2.5rem;
  z-index: 100;
}

.fabicon-bar a {
  color: white;
}

body {
  -webkit-transform: perspective(60rem);
          transform: perspective(60rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Menu-list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotateX(-10deg) rotateY(20deg);
          transform: rotateX(-10deg) rotateY(20deg);
}

.Menu-list-item {
  position: relative;
  color: transparent;
  cursor: pointer;
}

.Menu-list-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 49%;
  left: -10%;
  right: -10%;
  height: 4px;
  border-radius: 4px;
  margin-top: -2px;
  background: #ff2c75;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  transition: -webkit-transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98), -webkit-transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  z-index: 100;
}

.Mask {
  display: block;
  position: absolute;
  overflow: hidden;
  color: #ff2c75;
  top: 0;
  height: 49%;
  -webkit-transition: all 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  transition: all 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
}

.Mask span {
  display: block;
}

.Mask + .Mask {
  top: 48.9%;
  height: 51.1%;
}

.Mask + .Mask span {
  -webkit-transform: translateY(-49%);
          transform: translateY(-49%);
}

.Menu-list-item:hover .Mask,
.Menu-list-item:active .Mask {
  color: #fff;
  -webkit-transform: skewX(12deg) translateX(5px);
          transform: skewX(12deg) translateX(5px);
}

.Menu-list-item:hover .Mask + .Mask,
.Menu-list-item:active .Mask + .Mask {
  -webkit-transform: skewX(12deg) translateX(-5px);
          transform: skewX(12deg) translateX(-5px);
}

.Menu-list-item:hover::before,
.Menu-list-item:active::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.mainContent {
  min-height: 100vh;
  position: relative;
  color: white;
  background: white;
}

.projects {
  min-height: 100vh;
  position: relative;
}

.project {
  height: 70vh;
  position: relative;
  margin: 200px 0 60px;
}

.projectImg {
  position: absolute;
  right: 23%;
  border-radius: 5px;
  z-index: 10;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(235, 235, 235, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(235, 235, 235, 0.2);
}

.projectImgTwo {
  position: absolute;
  left: 23%;
  border-radius: 5px;
  z-index: 10;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(235, 235, 235, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(235, 235, 235, 0.2);
}

.imageHold {
  z-index: 1;
}

.imgBacker {
  position: absolute;
  margin-left: 5%;
  background-color: #F2F2F2;
  width: 54vw;
  height: 70vh;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(235, 235, 235, 0.2);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(235, 235, 235, 0.2);
}

.imgBackerTwo {
  position: absolute;
  margin-right: 5%;
  background-color: #F2F2F2;
  width: 54vw;
  height: 70vh;
  top: 0;
  right: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(235, 235, 235, 0.2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(235, 235, 235, 0.2);
}

.numberHold {
  display: inline-block;
  left: 10%;
  top: 10%;
  position: relative;
}

.numberHold h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 40rem;
  color: rgba(120, 116, 118, 0.06);
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* position: relative; */
}

.footerDesc {
  height: 70%;
}

.footerDesc h4 {
  line-height: 7rem;
}

.footerContact {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 23%;
}

.footerContact h3 {
  font-family: "Gilroy ExtraBold", system-ui, sans-serif;
  font-weight: normal;
  font-size: 5rem;
  color: #ff2c75;
}

.footerContact ul {
  padding: 12px 0 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerContact ul li {
  font-size: 1.6rem;
  padding-bottom: 25px;
}

.footerContact ul li a {
  color: white;
}

.footerContact ul li a:hover {
  color: #ff2c75;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.footerContact:before {
  content: "";
  display: block;
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 2.3px;
  background-color: #ff2c75;
}
