article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201c \201d \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Gilroy ExtraBold", system-ui, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}

/* GLOBAL STYLES */
:root {
  position: relative;
}

body::-webkit-scrollbar {
  width: 0.7rem;
}

body::-webkit-scrollbar:hover {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: white;
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: #ff2c75;
  border-radius: 10px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  color: black;
}

p,
ul,
li,
h1,
h2,
h3,
h4,
h5 {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 10;
}

p {
  font-size: 1.65rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  font-family: "Anton", sans-serif;
  font-size: 6rem;
  font-weight: normal;
  color: black;
  text-transform: uppercase;
}

@media (max-width: 1100px) {
  h2 {
    font-size: 3.8rem;
  }
}

@media (max-width: 500px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-family: "Anton", sans-serif;
  font-size: 6.5rem;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 1400px) {
  h3 {
    font-size: 3.8rem;
  }
}

@media (max-width: 500px) {
  h3 {
    font-size: 2.5rem;
  }
}

h4 {
  color: white;
  font-family: "Gilroy ExtraBold", system-ui, sans-serif;
  font-weight: normal;
  font-size: 2.9rem;
}

@media (max-width: 1400px) {
  h4 {
    font-size: 2.6rem;
  }
}

@media (max-width: 700px) {
  h4 {
    font-size: 1.7rem;
  }
}

.wrapper {
  width: 82vw;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1285px) {
  .wrapper {
    width: 84vw;
  }
}

@media (max-width: 1185px) {
  .wrapper {
    width: 88vw;
  }
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainBackground {
  z-index: 1000;
  height: 100vh;
  overflow: hidden;
  position: relative;
  color: white;
  background: #c4c2d8;
  background: linear-gradient(328deg, #421739 5%, #17123c 50%, #31456d 95%);
  background-size: 400% 400%;
  -webkit-animation: Gradient 8s ease infinite;
          animation: Gradient 8s ease infinite;
}

.background_shade {
  background-color: rgba(0, 0, 0, 0.13);
  height: 100%;
  width: 50vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.mainSplash .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.splashDesc {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.splashDesc h4 {
  line-height: 5.6rem;
  z-index: 10;
}

@media (max-width: 1400px) {
  .splashDesc h4 {
    line-height: 4.2rem;
  }
}

@media (max-width: 700px) {
  .splashDesc h4 {
    line-height: 3rem;
  }
}

.splashDesc h4 a {
  color: white;
}

.splashDesc h4 a:hover {
  color: #ff2c75;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.splashContact {
  height: 23%;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 768px) {
  .splashContact {
    height: 15%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.splashContact a {
  color: #ff2c75;
}

.splashContact h3 {
  font-family: "Gilroy ExtraBold", system-ui, sans-serif;
  font-weight: normal;
  font-size: 5rem;
  color: #ff2c75;
}

@media (max-width: 1100px) {
  .splashContact h3 {
    font-size: 3rem;
  }
}

.splashContact h4 {
  font-size: 5rem;
}

@media (max-width: 768px) {
  .splashContact h4 {
    font-size: 4rem;
  }
}

.splashContact ul {
  padding: 12px 0 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.splashContact ul li {
  font-size: 1.6rem;
  padding-bottom: 25px;
}

.splashContact ul li a {
  color: white;
}

.splashContact ul li a:hover {
  color: #ff2c75;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (max-width: 1100px) {
  .splashContact ul {
    padding: 8px 0 0 50px;
  }
}

@media (max-width: 600px) {
  .splashContact h3 {
    font-size: 3.2rem;
  }
  .splashContact ul {
    padding: 9px 0 0 50px;
  }
  .splashContact ul li {
    font-size: 1.35rem;
    padding-bottom: 20px;
  }
}

.splashContact:before {
  content: "";
  display: block;
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 2.3px;
  background-color: #ff2c75;
}

.headerBackground {
  z-index: 1000;
  height: 100vh;
  overflow: hidden;
  position: relative;
  color: white;
  background: rgba(84, 72, 173, 0.3);
}

.headerBackground p {
  font-size: 1.9rem;
}

header {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header title {
  z-index: 1000;
}

#hiddenText {
  display: none;
  margin-top: 2.5px;
  margin-left: 16px;
}

#hiddenText p {
  color: black;
}

.mainItem:hover #hiddenText {
  -webkit-animation: fadeIn ease 2.5s;
          animation: fadeIn ease 2.5s;
  display: block;
}

header li {
  font-size: 16rem;
}

header li .socialPin:hover {
  color: #ff2c75;
  -webkit-animation-name: bounce-5;
          animation-name: bounce-5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 1100px) {
  header li {
    font-size: 10rem;
  }
}

.logo-box {
  max-width: 700px;
  min-width: 280px;
  z-index: 100;
}

.fabicon-bar {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 33vh;
  z-index: 100;
  width: 400px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  padding-bottom: 45px;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  .fabicon-bar {
    width: 300px;
    padding-bottom: 5px;
  }
}

.fabicon-bar li {
  font-size: 25px;
  font-size: 2.5rem;
  z-index: 100;
}

@media (max-width: 1100px) {
  .fabicon-bar li {
    font-size: 1.5rem;
  }
}

.fabicon-bar a {
  color: white;
}

body {
  -webkit-transform: perspective(60rem);
          transform: perspective(60rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Menu-list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotateX(-10deg) rotateY(20deg);
          transform: rotateX(-10deg) rotateY(20deg);
}

.Menu-list-item {
  position: relative;
  color: transparent;
  cursor: pointer;
}

.Menu-list-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 49%;
  left: -10%;
  right: -10%;
  height: 4px;
  border-radius: 4px;
  margin-top: -2px;
  background: #ff2c75;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  transition: -webkit-transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98), -webkit-transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  z-index: 100;
}

.Mask {
  display: block;
  position: absolute;
  overflow: hidden;
  color: #ff2c75;
  top: 0;
  height: 49%;
  -webkit-transition: all 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  transition: all 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
}

.Mask span {
  display: block;
}

.Mask + .Mask {
  top: 48.9%;
  height: 51.1%;
}

.Mask + .Mask span {
  -webkit-transform: translateY(-49%);
          transform: translateY(-49%);
}

.Menu-list-item:hover .Mask,
.Menu-list-item:active .Mask {
  color: white;
  -webkit-transform: skewX(12deg) translateX(5px);
          transform: skewX(12deg) translateX(5px);
}

.Menu-list-item:hover .Mask + .Mask,
.Menu-list-item:active .Mask + .Mask {
  -webkit-transform: skewX(12deg) translateX(-5px);
          transform: skewX(12deg) translateX(-5px);
}

.Menu-list-item:hover::before,
.Menu-list-item:active::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#myVideo {
  position: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes github {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-100px);
            transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  57% {
    -webkit-transform: scale(1, 1) translateY(-7px);
            transform: scale(1, 1) translateY(-7px);
  }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

@keyframes github {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-100px);
            transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  57% {
    -webkit-transform: scale(1, 1) translateY(-7px);
            transform: scale(1, 1) translateY(-7px);
  }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

#rellaxHold {
  position: absolute;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  left: -5%;
  top: 14%;
}

#rellaxHoldTwo {
  position: absolute;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  top: 81.5%;
  right: 48%;
}

#rellaxHoldThree {
  position: absolute;
  height: 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  bottom: -46%;
  left: -5%;
}

.aboutMeContainer {
  height: 100%;
  min-height: 550px;
}

.aboutMeContainer h3 {
  font-family: "Gilroy ExtraBold", system-ui, sans-serif;
  text-transform: none;
  font-size: 3.2rem;
}

.aboutMe {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutMe .aboutMeContent {
  width: 500px;
  padding: 4rem 0 0rem 2rem;
}

@media (max-width: 1000px) {
  .aboutMe .aboutMeContent {
    padding: 0 0 1rem 0;
  }
}

.aboutMe .aboutMeContent h1 {
  height: 90px;
  line-height: 90px;
  font-family: "Anton", sans-serif;
  font-size: 8.4rem;
  color: #ff2c75;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: normal;
}

@media (max-width: 750px) {
  .aboutMe .aboutMeContent h1 {
    font-size: 5.8rem;
    letter-spacing: 0.2rem;
  }
}

.aboutMe .aboutMeContent h2 {
  margin: 0.4rem 0;
  height: 50px;
  line-height: 50px;
  font-family: "Anton", sans-serif;
  font-size: 5rem;
  color: white;
  letter-spacing: 0.1rem;
}

@media (max-width: 750px) {
  .aboutMe .aboutMeContent h2 {
    height: 40px;
    line-height: 40px;
    font-size: 4rem;
  }
}

.aboutMe .aboutMeContent .paraContent {
  margin-top: 1.5rem;
}

.aboutMe .aboutMeContent .aboutButtonHold {
  margin-top: 2.4rem;
}

.aboutMe .aboutMeContent .aboutButtonHold .aboutButton {
  font-size: 1.4rem;
  padding: 0.4rem;
  background-color: #ff2c75;
  border: 2px solid #ff2c75;
  color: #fff;
}

.aboutMe .aboutMeContent .aboutButtonHold :hover {
  color: black;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.greyBackgroundSquare {
  position: absolute;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 40%;
  right: -8%;
}

@media (max-width: 1200px) {
  .greyBackgroundSquare {
    display: none;
  }
}

.greyBackgroundSquareTwo {
  position: absolute;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 40%;
  left: -7%;
}

@media (max-width: 1200px) {
  .greyBackgroundSquareTwo {
    display: none;
  }
}

.rellaxImg {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

@media (max-width: 1250px) {
  .rellaxImg {
    display: none;
  }
}

.mainNav {
  position: -webkit-sticky;
  position: sticky;
  top: 35%;
  left: 0px;
  padding: 10px 0 0 20px;
  width: 5%;
  z-index: 1000;
}

.mainNav .mainMenu .mainItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.mainNav .mainMenu .mainItem .mainLink {
  font-family: "Anton", sans-serif;
  color: black;
  font-size: 2rem;
  z-index: 1000;
  position: relative;
}

.mainNav .mainMenu .mainItem .mainLink:hover {
  color: #ff2c75;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

@media (max-width: 1400px) {
  .mainNav {
    display: none;
  }
}

.mainContent {
  position: relative;
  background: white;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 49.7%;
  bottom: 7%;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  z-index: 10;
  margin-left: -20px;
  bottom: 32%;
  margin-top: -35px;
  -webkit-box-shadow: inset 0 0 0 1px white;
          box-shadow: inset 0 0 0 1px white;
  border-radius: 25px;
}

@media (max-width: 1100px) {
  .icon-scroll {
    width: 25px;
    height: 42px;
  }
}

@media (max-width: 800px) {
  .icon-scroll {
    display: none;
  }
}

.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: white;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}

@media (max-width: 1100px) {
  .icon-scroll:before {
    width: 4px;
    height: 4px;
    margin-left: -1.9px;
    top: 2px;
  }
}

.popText {
  display: inline-block;
}

.skillsAnimate {
  display: inline;
}

.animate__animated.animate__headShake {
  --animate-duration: 6s;
}

#lastProject {
  margin-bottom: 50px;
}

@media (max-width: 1400px) {
  #lastProject {
    margin-bottom: 50px;
  }
}

@media (max-width: 1000px) {
  #lastProject {
    margin-bottom: 0;
  }
}

.project {
  height: 55vh;
  text-align: end;
  min-height: 425px;
}

.project h4 {
  font-family: "Anton", sans-serif;
  font-size: 42rem;
  color: #ebebeb;
}

@media (max-width: 1100px) {
  .project {
    min-height: 75vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.projectReverse {
  text-align: start;
}

@media (max-width: 1100px) {
  .projectReverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.projectDesc {
  max-width: 450px;
  padding: 10px 10px;
  margin-bottom: 25px;
  z-index: 10;
}

.projectDesc p {
  margin: 10px 0 15px 0;
}

.projectDesc li {
  display: inline;
}

.projectDesc a {
  font-size: 1.9rem;
  font-weight: 500;
  color: black;
  padding: 4px 9px 4px 9px;
}

.projectDesc a:hover {
  color: white;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.projectDesc .accent {
  color: #ff2c75;
}

@media (max-width: 1100px) {
  .projectDesc {
    min-width: 355px;
    text-align: center;
  }
}

.resumeContainer {
  border: 2px solid #ff2c75;
  position: relative;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
}

@media (max-width: 520px) {
  .resumeContainer {
    width: 150px;
    height: 40px;
    padding-top: 15px;
    font-size: 1.6rem;
  }
}

.resumeButton {
  position: relative;
  z-index: 10;
}

.resumeContainer:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: white;
  background: #ff2c75;
  border-bottom: 2px solid #ff2c75;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
}

.resumeContainer:hover {
  color: #fff;
}

.resumeContainer:hover:after {
  width: 100%;
}

.buttonHold {
  padding-right: 1px;
  margin-top: 25px;
}

#projectButton {
  margin-left: 20px;
  background-color: #443b8c;
  border: 2px solid #443b8c;
  color: #fff;
}

#projectButton :hover {
  color: #ff2c75;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.projectImg {
  z-index: 1000;
  max-width: 100%;
  -webkit-box-shadow: -5px 30px 30px #d3d3d3;
          box-shadow: -5px 30px 30px #d3d3d3;
}

@media (max-width: 1100px) {
  .projectImg {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.imageHold {
  position: relative;
  max-width: 525px;
  z-index: 10;
  margin-left: 100px;
  -webkit-box-shadow: 2px 30px 30px #b2b2b8;
          box-shadow: 2px 30px 30px #b2b2b8;
}

@media (max-width: 1100px) {
  .imageHold {
    max-width: 500px;
    margin-left: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 800px) {
  .imageHold {
    max-width: 400px;
  }
}

.imageHoldTwo {
  position: relative;
  max-width: 525px;
  z-index: 10;
  margin-right: 100px;
  -webkit-box-shadow: 2px 30px 30px #b2b2b8;
          box-shadow: 2px 30px 30px #b2b2b8;
}

@media (max-width: 1100px) {
  .imageHoldTwo {
    max-width: 500px;
    margin-right: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 800px) {
  .imageHoldTwo {
    max-width: 400px;
  }
}

.contactSection {
  width: 100%;
  height: 100%;
  min-height: 550px;
  z-index: 10;
}

.contactSection .contactContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1000px) {
  .contactSection .contactContainer {
    display: none;
  }
}

.contactSection .contactContainer .contactContent {
  max-width: 440px;
  padding-bottom: 5rem;
}

.contactSection .contactContainer .contactContent h1 {
  height: 90px;
  line-height: 90px;
  font-family: "Anton", sans-serif;
  font-size: 8.4rem;
  color: #ff2c75;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: normal;
}

@media (max-width: 750px) {
  .contactSection .contactContainer .contactContent h1 {
    font-size: 5.8rem;
    letter-spacing: 0.2rem;
  }
}

.contactSection .contactContainer .contactContent h2 {
  margin: 0.4rem 0;
  height: 50px;
  line-height: 50px;
  font-family: "Anton", sans-serif;
  font-size: 5rem;
  color: white;
  letter-spacing: 0.1rem;
}

@media (max-width: 750px) {
  .contactSection .contactContainer .contactContent h2 {
    height: 40px;
    line-height: 40px;
    font-size: 4rem;
  }
}

.contactSection .contactContainer .contactContent .paraContent {
  margin-top: 1.5rem;
}

.contactSection form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
}

.contactSection .formList {
  list-style: none;
  padding: 2rem 0 0 0;
  width: 80%;
}

@media (max-width: 1000px) {
  .contactSection .formList {
    width: 100%;
  }
}

.contactSection .formList li {
  margin: 10px 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contactSection .formList li label {
  color: offWhite;
  font-size: 1.8rem;
  margin-right: 7px;
}

.contactSection .formList input[name="contact"] {
  background: none;
  border: none;
  outline: none;
  padding: 10px 5px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 100%;
  font-size: 1.6rem;
  letter-spacing: 1.4px;
  color: white;
  border-bottom: 1px solid white;
}

.contactSection .formList textarea {
  background: none;
  outline: none;
  padding: 10px 5px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 100%;
  height: 95px;
  resize: none;
  border: 1px solid white;
  color: white;
  font-size: 1.6rem;
  letter-spacing: 1.4px;
}

.contactSection .formList input[type="submit"] {
  color: #ff2c75;
  background: none;
  outline: none;
  border: none;
  margin: 0 auto;
  font-size: 2rem;
  text-transform: uppercase;
  border: 1px solid white;
  padding: 10px 70px;
  margin-top: 40px;
  font-weight: bold;
}

.contactSection .formList input:hover {
  height: 100%;
  color: white;
  background: #ff2c75;
  border: 1px solid black;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
}

.contactSection .formList li:nth-child(4) {
  margin-top: 50px;
}

.contactSection .formList input[name="contact"]:focus,
.contactSection .formList textarea:focus {
  outline: 1px solid pink;
  background: #ff5f96;
  border: none;
}

.skills {
  width: 100%;
}

@media (max-width: 1000px) {
  .skills {
    display: none;
  }
}

.skillsPage .splashDesc .skillsDesc {
  width: 100%;
  text-align: center;
}

.iconContainer {
  width: 100%;
  height: 100%;
  z-index: 10;
  margin-top: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1100px) {
  .iconContainer {
    margin-top: 45px;
  }
}

@media (max-width: 600px) {
  .iconContainer {
    margin-top: 35px;
  }
}

@media (max-width: 525px) {
  .iconContainer {
    margin-top: 15px;
  }
}

.iconContainerIcon {
  margin-top: 20px;
  width: calc(100% / 3);
  color: white;
  font-size: 4rem;
  text-align: center;
}

@media (max-width: 900px) {
  .iconContainerIcon {
    width: calc(100% / 3);
    font-size: 3rem;
    padding: 4px 0 12px 0;
  }
}

.iconContainer p {
  width: 100%;
  text-align: center;
  margin: 5px 0;
}

@media (max-width: 1100px) {
  .iconContainer p {
    font-size: 1.3rem;
  }
}

@media (max-width: 550px) {
  .iconContainer {
    font-size: 0.9rem;
  }
}
